.inner{
  width: 600px;
  margin: 0 auto;
}

table {

  border: 1px solid grey;
  border-collapse: collapse;

}
caption{
  margin-bottom: 5px;
  font-size: 20px;
}

th {
  border: 1px solid grey;
  padding: 10px;
}
th:last-child{
  width: 500px;
}

td {
  border: 1px solid grey;
  padding: 10px;

}



.btn__box{
  margin-top: 20px;
  text-align: center;

}


.btn{
  padding: 12px 30px;
  background-color: green;
}

.btn+.btn{
  margin-left: 50px;
  background-color: red;
}