.home__inner {
  padding-top: 100px;
}

.home__title{
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 10px;
  display: block;
  color: #00a4e5;
}
.home__suptitle {
  font-weight: 600;
  font-size: 24px;

}

.home__text {
  line-height: 1.5;
}
