.auth-link__list {
  margin-top: 20px;
}

.auth-link__list-item  + .auth-link__list-item {
  margin-top: 10px;
}


.auth-link__list-link {
  color: #000000;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
    color: #00a4e5;
  }
}

