.form {
    &__label {
        width: 100%;
    }

    &__label + &__label {
        margin-top: 20px;
    }

    &__input {
        padding: 10px;
        margin-top: 10px;
        width: 100%;
        font-size: 16px;
        border: 1px solid rgba(#000000, 0.3);
        border-radius: 20px;

        &:focus {
            outline: none;
            border-color: #00a4e5;
        }
    }
}
