.auth__inner {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 2px 2px 5px rgba(154, 147, 140, 0.5);
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}

.auth__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.auth__btn {

    width: 30px;
    height: 30px;
    border: 1px solid #999;
    position: relative;
    margin-left: auto;
}
.auth__btn-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

.auth__link {
    color: #000000;
    font-size: 12px;
    margin-top: 20px;

    &:hover {
        text-decoration: underline;
        color: #00a4e5;
    }
}

.auth__link + .auth__link {
    margin-top: 10px;
}
